.light-theme {
  color: #10111f;
  background: #fdfdfd; }

.dark-theme {
  color: #fdfdfd;
  background: #10111f; }

.light-theme-text {
  color: #10111f; }

.dark-theme-text {
  color: #fdfdfd; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  line-height: 1.7; }

a {
  text-decoration: none;
  color: inherit; }

li,
ul {
  list-style: none; }

body {
  font-family: Poppins;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13.5px;
  height: 1200px; }

.ltr-font {
  font-family: 'Poppins', sans-serif; }

.rtl-font {
  font-family: 'Vazirmatn', sans-serif; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px; }

.selected {
  padding-bottom: 5px;
  border-bottom: 2px solid #ff8201;
  color: #ff8201; }

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }

.section-title {
  color: #ff8201;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold; }

button[dir="ltr"] {
  font-family: Poppins; }

button[dir="rtl"] {
  font-family: Vazirmatn; }

.button-primary {
  border: none;
  outline: none;
  display: inline-flex;
  padding: 7px 15px;
  border: 2px solid #ff8201;
  border-radius: 10px;
  transition: 0.3s;
  background: none;
  cursor: pointer; }
  .button-primary:hover {
    background: #ff8201;
    color: #fdfdfd; }

.slider-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .slider-wrapper .slider-inner-contetns {
    width: 100%;
    padding: 80px 20px;
    margin-bottom: 2px; }
    .slider-wrapper .slider-inner-contetns .container .slider-container {
      width: 100%;
      overflow: hidden; }
    .slider-wrapper .slider-inner-contetns .container .slider {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease-in-out; }
    .slider-wrapper .slider-inner-contetns .container .slider-item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 15px; }

.footer-app {
  width: 100%;
  padding-top: 2px; }
  .footer-app div .container {
    display: flex;
    padding: 25px 15px;
    justify-content: space-between;
    align-items: center; }

.header-app {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .header-app .nav-bar {
    position: fixed;
    z-index: 500;
    width: 100%; }
    .header-app .nav-bar .container .header-contents {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 15px; }
      .header-app .nav-bar .container .header-contents .header-logo img {
        display: block;
        object-fit: cover;
        object-position: center;
        cursor: pointer; }
      .header-app .nav-bar .container .header-contents .header-tools {
        display: flex;
        justify-content: center;
        align-items: center; }
        .header-app .nav-bar .container .header-contents .header-tools .header-menu {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 15px; }
          .header-app .nav-bar .container .header-contents .header-tools .header-menu > * {
            margin: 0 10px;
            transition: 0.3s; }
            .header-app .nav-bar .container .header-contents .header-tools .header-menu > *:hover {
              color: #ff8201; }
        .header-app .nav-bar .container .header-contents .header-tools .header-icons {
          display: flex;
          justify-content: center;
          align-items: center; }
          .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 0;
            position: relative; }
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper .language-button-container {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 1px;
              border-radius: 15px;
              transition: 0.3s; }
              .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper .language-button-container:hover {
                background: #ff8201; }
              .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper .language-button-container .language-button {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                min-width: 35px;
                padding: 4px 8px;
                transition: 0.3s;
                min-height: 32px;
                cursor: pointer; }
                .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper .language-button-container .language-button:hover {
                  color: #ff8201; }
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper .languages {
              z-index: 1000;
              font-family: "Vazirmatn" !important;
              display: none;
              flex-direction: column;
              position: absolute;
              top: 40px;
              padding: 10px;
              border-radius: 10px; }
              .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper .languages > * {
                display: inline-flex;
                cursor: pointer;
                padding: 5px;
                transition: 0.3s; }
                .header-app .nav-bar .container .header-contents .header-tools .header-icons .language-wrapper .languages > *:hover {
                  color: #ff8201; }
          .header-app .nav-bar .container .header-contents .header-tools .header-icons .theme-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;
            border-radius: 15px;
            transition: 0.3s;
            margin: 0 8px; }
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .theme-wrapper:hover {
              background: #ff8201; }
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .theme-wrapper .dark-button-theme,
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .theme-wrapper .light-button-theme {
              font-size: 15px;
              min-width: 25px;
              min-height: 32px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 15px;
              min-width: 35px;
              padding: 4px 8px;
              cursor: pointer;
              transition: 0.3s; }
              .header-app .nav-bar .container .header-contents .header-tools .header-icons .theme-wrapper .dark-button-theme:hover,
              .header-app .nav-bar .container .header-contents .header-tools .header-icons .theme-wrapper .light-button-theme:hover {
                color: #ff8201; }
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .theme-wrapper .fa-moon {
              display: none; }
          .header-app .nav-bar .container .header-contents .header-tools .header-icons .burger-menu-wrapper {
            display: none;
            align-items: center;
            justify-content: center;
            padding: 1px;
            border-radius: 15px;
            font-size: 15px;
            transition: 0.3s; }
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .burger-menu-wrapper:hover {
              background: #ff8201; }
            .header-app .nav-bar .container .header-contents .header-tools .header-icons .burger-menu-wrapper .burger-menu {
              display: flex;
              min-height: 32px;
              align-items: center;
              justify-content: center;
              border-radius: 15px;
              min-width: 35px;
              padding: 4px 8px;
              cursor: pointer;
              transition: 0.3s; }
              .header-app .nav-bar .container .header-contents .header-tools .header-icons .burger-menu-wrapper .burger-menu:hover {
                color: #ff8201; }
  .header-app .hero {
    margin-top: 82px;
    width: 100%;
    padding: 145px 20px;
    color: #10111f; }
    .header-app .hero[dir="ltr"] {
      background: url(../images/hero-full-ltr.png) no-repeat center right;
      background-size: cover; }
    .header-app .hero[dir="rtl"] {
      background: url(../images/hero-full-rtl.png) no-repeat center left;
      background-size: cover; }
    .header-app .hero .container {
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center; }
      .header-app .hero .container .hero-contents h1 {
        font-size: 50px; }
      .header-app .hero .container .hero-contents strong {
        color: #ff8201; }
      .header-app .hero .container .hero-contents p {
        font-size: 14px;
        margin: 15px 0; }
      .header-app .hero .container div {
        padding: 15px; }

.main-app {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1; }
  .main-app .about-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; }
    .main-app .about-wrapper .container .about {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 70px; }
      .main-app .about-wrapper .container .about .about-image img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
        border-radius: 20px; }
        .main-app .about-wrapper .container .about .about-image img[dir="ltr"] {
          border-top-right-radius: 50%; }
        .main-app .about-wrapper .container .about .about-image img[dir="rtl"] {
          border-top-left-radius: 50%; }
      .main-app .about-wrapper .container .about .about-content {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start; }
        .main-app .about-wrapper .container .about .about-content h2 {
          font-size: 35px; }
        .main-app .about-wrapper .container .about .about-content p {
          line-height: 1.8;
          margin-top: 20px;
          text-align: justify; }
        .main-app .about-wrapper .container .about .about-content .about-comments {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 25px; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-experience {
            padding: 30px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: center; }
            .main-app .about-wrapper .container .about .about-content .about-comments .about-experience .experience-years {
              font-size: 100px;
              font-weight: bold;
              font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
              color: #ff8201; }
            .main-app .about-wrapper .container .about .about-content .about-comments .about-experience h5 {
              font-size: 18px;
              text-wrap: nowrap;
              line-height: 1.2; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-values {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center; }
            .main-app .about-wrapper .container .about .about-content .about-comments .about-values div {
              padding: 0 20px; }
              .main-app .about-wrapper .container .about .about-content .about-comments .about-values div i {
                color: #ff8201;
                padding: 5px;
                font-size: 20px; }
              .main-app .about-wrapper .container .about .about-content .about-comments .about-values div span {
                text-wrap: nowrap;
                font-size: 18px; }
        .main-app .about-wrapper .container .about .about-content button {
          width: 100%;
          text-align: center;
          justify-content: center;
          align-items: center; }
  .main-app .services-wrapper {
    width: 100%;
    margin-top: 80px;
    padding-bottom: 50px; }
    .main-app .services-wrapper .container .services {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .main-app .services-wrapper .container .services .services-content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        width: 100%; }
        .main-app .services-wrapper .container .services .services-content h3 {
          font-size: 35px; }
        .main-app .services-wrapper .container .services .services-content .services-cards {
          width: 100%;
          margin-top: 50px;
          display: flex;
          flex-direction: row;
          text-align: start;
          overflow: hidden;
          flex-wrap: nowrap;
          transition: transform 0.5s ease-in-out;
          padding: 0 30px; }
          .main-app .services-wrapper .container .services .services-content .services-cards .services-card {
            display: flex;
            flex-direction: column;
            flex: 0 0 calc(100% / 3);
            padding: 20px;
            border-radius: 15px;
            margin-right: 10px;
            cursor: pointer;
            transition: 0.3s; }
            .main-app .services-wrapper .container .services .services-content .services-cards .services-card:hover {
              background: #ff8201;
              color: #fdfdfd; }
            .main-app .services-wrapper .container .services .services-content .services-cards .services-card .service-card-header {
              display: flex;
              align-items: center; }
              .main-app .services-wrapper .container .services .services-content .services-cards .services-card .service-card-header i {
                font-size: 35px;
                padding: 15px; }
            .main-app .services-wrapper .container .services .services-content .services-cards .services-card p {
              border-top: 2px solid lightgray;
              font-size: 13px;
              padding-top: 15px;
              margin: 15px 0;
              min-height: 130px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              overflow: hidden;
              -webkit-line-clamp: 4;
              /* Number of lines to show */
              text-overflow: ellipsis; }
            .main-app .services-wrapper .container .services .services-content .services-cards .services-card .service-button {
              display: flex;
              width: 100%;
              justify-content: end;
              cursor: pointer;
              transition: 0; }
              .main-app .services-wrapper .container .services .services-content .services-cards .services-card .service-button a {
                border: none;
                color: inherit; }
      .main-app .services-wrapper .container .services .pagination-button {
        display: flex;
        width: 100%;
        justify-content: center; }
        .main-app .services-wrapper .container .services .pagination-button button {
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 120px;
          margin: 10px 10px;
          margin-top: 20px; }
  .main-app .offers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 50px 0; }
    .main-app .offers-wrapper .container .offers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px; }
      .main-app .offers-wrapper .container .offers .offers-description .offer-description-heading h3 {
        font-size: 30px;
        margin-bottom: 10px; }
      .main-app .offers-wrapper .container .offers .offers-description .offer-description-heading p {
        text-align: justify;
        line-height: 1.7; }
      .main-app .offers-wrapper .container .offers .offer-description-chart {
        display: flex;
        width: 100%;
        flex-direction: column;
        overflow: hidden; }
        .main-app .offers-wrapper .container .offers .offer-description-chart .chart-heading {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 10px; }
          .main-app .offers-wrapper .container .offers .offer-description-chart .chart-heading span {
            font-size: 80px;
            font-weight: bold; }
          .main-app .offers-wrapper .container .offers .offer-description-chart .chart-heading h6 {
            font-size: 30px;
            font-weight: 400;
            margin: 0 15px;
            text-transform: uppercase;
            line-height: 1.3; }
        .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines {
          display: flex;
          height: 160px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: rotate(-90deg); }
          .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines[dir="rtl"] {
            direction: ltr; }
          .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card {
            display: flex;
            justify-content: flex-end;
            align-items: center; }
            .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card span {
              display: inline-flex;
              min-width: 38px; }
            .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card:last-child, .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card:first-child {
              margin: 0; }
            .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card progress {
              background: #ff8201;
              height: 28px;
              /* Set a fixed height for the progress bar */
              width: 120px;
              /* Set a fixed width for the progress bar */
              margin: 10px 0; }
            .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card progress::-webkit-progress-bar {
              background-color: #ff8201; }
            .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card progress::-webkit-progress-value {
              background-color: #10111f; }
      .main-app .offers-wrapper .container .offers .video-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden; }
        .main-app .offers-wrapper .container .offers .video-cover[dir="rtl"] {
          border-top-right-radius: 50%; }
        .main-app .offers-wrapper .container .offers .video-cover[dir="ltr"] {
          border-top-left-radius: 50%; }
        .main-app .offers-wrapper .container .offers .video-cover img {
          height: 100%;
          display: block;
          object-fit: cover;
          object-position: center; }
        .main-app .offers-wrapper .container .offers .video-cover i {
          color: #ff8201;
          font-size: 100px;
          opacity: 80%;
          cursor: pointer;
          position: absolute; }
  .main-app .video-player {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 600;
    left: 50%;
    top: 50%;
    padding: 50px;
    background: #10111ff1;
    transform: translate(-50%, -50%); }
    .main-app .video-player i {
      color: #ff8201;
      font-size: 35px;
      cursor: pointer;
      position: fixed;
      top: 50px;
      right: 50px;
      z-index: 100;
      transition: 0.3s; }
      .main-app .video-player i:hover {
        transform: scale(1.2);
        color: #fdfdfd; }
    .main-app .video-player iframe {
      width: 530px;
      height: 316px;
      display: block; }

@media (max-width: 1200px) {
  .main-app .about-wrapper .container .about {
    grid-gap: 50px; }
    .main-app .about-wrapper .container .about .about-content {
      padding: 30px 0; }
      .main-app .about-wrapper .container .about .about-content h2 {
        font-size: 30px; }
      .main-app .about-wrapper .container .about .about-content p {
        line-height: 1.7; }
      .main-app .about-wrapper .container .about .about-content .about-comments {
        grid-gap: 20px; }
        .main-app .about-wrapper .container .about .about-content .about-comments .about-experience {
          padding: 20px 0; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-experience .experience-years {
            font-size: 85px; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-experience h5 {
            font-size: 16px; }
        .main-app .about-wrapper .container .about .about-content .about-comments .about-values div {
          padding: 0 18px; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-values div i {
            font-size: 16px; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-values div span {
            font-size: 15px; } }

@media (max-width: 1024px) {
  .header-app .hero[dir="ltr"] {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3)), url(../images/hero-full-ltr.png) no-repeat center right;
    background-size: cover; }
  .header-app .hero[dir="rtl"] {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3)), url(../images/hero-full-rtl.png) no-repeat center left;
    background-size: cover; }
  .header-app .hero .container {
    grid-template-columns: 1fr; }
    .header-app .hero .container .hero-contents {
      text-align: center; }
  .main-app .about-wrapper .container .about {
    grid-gap: 20px; }
    .main-app .about-wrapper .container .about .about-content {
      padding: 20px 0; }
      .main-app .about-wrapper .container .about .about-content h2 {
        font-size: 25px; }
      .main-app .about-wrapper .container .about .about-content p {
        line-height: 1.6; }
      .main-app .about-wrapper .container .about .about-content .about-comments {
        grid-gap: 20px; }
        .main-app .about-wrapper .container .about .about-content .about-comments .about-experience {
          padding: 20px 0; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-experience .experience-years {
            font-size: 65px; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-experience h5 {
            font-size: 12px;
            font-weight: 400; }
        .main-app .about-wrapper .container .about .about-content .about-comments .about-values div {
          padding: 0 5px; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-values div i {
            font-size: 14px; }
          .main-app .about-wrapper .container .about .about-content .about-comments .about-values div span {
            font-size: 12px; }
  .main-app .services-wrapper .container .services .services-content .services-cards {
    padding: 0 20px; }
    .main-app .services-wrapper .container .services .services-content .services-cards .services-card {
      flex: 0 0 calc(100% / 2);
      margin-right: 20px; }
  .main-app .offers-wrapper .container .offers {
    grid-template-columns: repeat(1, 1fr);
    text-align: center; }
    .main-app .offers-wrapper .container .offers .video-cover[dir="rtl"] {
      border-top-right-radius: 20%;
      border-top-left-radius: 20%; }
    .main-app .offers-wrapper .container .offers .video-cover[dir="ltr"] {
      border-top-left-radius: 20%;
      border-top-right-radius: 20%; }
    .main-app .offers-wrapper .container .offers .video-cover img {
      width: 100%;
      height: 400px;
      display: block;
      object-fit: cover;
      object-position: top center; } }

@media (max-width: 800px) {
  .header-app {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .header-app .nav-bar {
      position: fixed;
      width: 100%; }
      .header-app .nav-bar .container .header-contents .header-tools .header-menu {
        display: none; }
      .header-app .nav-bar .container .header-contents .header-tools .header-icons .burger-menu-wrapper {
        display: flex; }
  .hero .container .hero-contents h1 {
    font-size: 35px; }
  .main-app .about-wrapper .container .about {
    grid-template-columns: repeat(1, 1fr);
    text-align: center; }
    .main-app .about-wrapper .container .about .about-image img {
      order: 2;
      width: 100%;
      height: 500px; }
    .main-app .about-wrapper .container .about .about-content {
      order: 1;
      text-align: center; }
      .main-app .about-wrapper .container .about .about-content .section-title {
        width: 100%;
        display: flex;
        justify-content: center; }
      .main-app .about-wrapper .container .about .about-content h2 {
        font-size: 23px; }
      .main-app .about-wrapper .container .about .about-content .about-comments {
        width: 100%;
        text-align: start; }
        .main-app .about-wrapper .container .about .about-content .about-comments .about-experience {
          display: flex;
          justify-content: start;
          text-align: start; }
      .main-app .about-wrapper .container .about .about-content .button-primary {
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center; }
  .main-app .services-wrapper .container .services .services-content h3 {
    font-size: 27px; }
  .main-app .services-wrapper .container .services .services-content .services-cards {
    padding: 0 20px; }
    .main-app .services-wrapper .container .services .services-content .services-cards .services-card {
      flex: 0 0 calc(100% / 1);
      margin-right: 20px; }
  .main-app .offers-wrapper .container .offers .offers-description .offer-description-heading h3 {
    font-size: 28px; }
  .main-app .offers-wrapper .container .offers .offer-description-chart .chart-heading span {
    font-size: 70px; }
  .main-app .offers-wrapper .container .offers .offer-description-chart .chart-heading h6 {
    font-size: 27px; }
  .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card progress {
    height: 25px;
    /* Set a fixed height for the progress bar */
    margin: 7px 0; }
  .main-app .offers-wrapper .container .offers .video-cover i {
    font-size: 80px; } }

@media (max-width: 500px) {
  .header-app .hero .container .hero-contents h1 {
    font-size: 28px; }
  .main-app .offers-wrapper .container .offers .offers-description .offer-description-heading h3 {
    font-size: 22px; }
  .main-app .offers-wrapper .container .offers .offer-description-chart .chart-heading span {
    font-size: 60px; }
  .main-app .offers-wrapper .container .offers .offer-description-chart .chart-heading h6 {
    font-size: 23px; }
  .main-app .offers-wrapper .container .offers .offer-description-chart .chart-lines .chart-line-card progress {
    height: 20px;
    /* Set a fixed height for the progress bar */
    margin: 5px 0; }
  .main-app .offers-wrapper .container .offers .video-cover i {
    font-size: 70px; } }
